.aboutpage#aboutthispage
    #aboutpage-description
        h1 ABOUT THIS PAGE
        <br><br><br>
        #text
            p 
                | 현재 보시는 페이지는 개인 포트폴리오 목적으로 만들어진 페이지입니다.
            p 
                | 다양한 디자인으로 페이지를 두번쯤 이전에 만들어봤지만, 제일 깔끔한 현재 디자인으로 만들기로 결정했습니다.
            p
                | 또한 기존의 페이지는 Html로 만든 페이지라 추후에 프로젝트 추가같은 작업에 어려움을 겪었지만, Node.js를 배우면서
                | 익숙해진 Pug로 교체하면서 추후 유지보수가 용이하게 만들었습니다.
            p
                | 더 자세한 내용은
                a(href='https://github.com/ASSSSN/ASSN2-mysite' target='_blank') 깃허브
                | 에서 확인하실 수 있습니다.
            P
                | 연락은 'ohhanjin0330@gmail.com' 나 위 프로필의 이메일 보내기로 보내주시면 감사합니다.