extends layout

block page
    #intro.intro
        input#url(type='hidden', value=urls.main)
        img#intro-img(src=urls.assets + '/black_button.png')
        p#intro-text 
            | thanks for comming 
            br
            | - Oh Han Jin

    script.
        document.getElementById('intro-img').addEventListener('click', (e) => {
            const url = document.querySelector('#url').value;
            $('#intro').fadeOut({
                duration: 1000,
                complete: () => {
                    location.href = url;
                }
            })
        });