extends layout

block page
    include menubar.pug
    <br><br><br><br><br><br><br>
    include content.pug
    <br><br><br><br>
    include projects.pug
    <br><br><br><br>
    include aboutpage.pug